.pgstyle {color: hsl(0, 92%, 33%);background-color:rgb(12, 153, 33);}

.olstyle {font-size: 32px;}

h1 {font-size: 48px;background-color: white;}

h3 {font-size: 40px;}

figcaption {font-size: 18px;}

p {font-size: 24px;}